/* HOW to make whole page background change? 
    
*/

/* visualizer border */

/* Type Selectors */
body{
    font-family: fantasy, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: flex;
    flex-flow: column;
}

p {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

/* IMAGE Stylings */
img {
    width: 200px;
    height: 200px;

    border: solid blue 3px;
}

/* HYPERlink Stylings */
a {
}

a:link {
}

a:visited {
    color: hsl(hue, saturation, 50%);
}

a:focus {
}

a:hover {
}

a:active {
}


/* NavBar */
.navbar {
    background-color: firebrick;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 100px;

    border: solid blue 3px;
}

.header-logo  {
    display: flex;

}

.header-logo img {
    max-width: 64px;
    max-height: 64px;
    margin-right: auto;

    border: solid blue 3px;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    gap: 24px;

    border: solid blue 3px;
}

.header-links  a {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    margin-right: 20px;

    border: solid blue 3px;
}

/* TitleWrapper */
.title-wrapper {
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 48px;

    border: solid blue 3px;
}

.title-text-container  {
  
    border: solid blue 3px;
}

.title-text {
    font-size: 64px;

    border: solid blue 3px;
}

.title-tagline {
    font-size: 24px;

    border: solid blue 3px;
}

.portrait-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid blue 3px;
}

.lohk-quote {
    border: solid blue 3px;
}

.portrait-container button {
   background-color: yellow;
   border-radius: 24px;
   width: 30px;
   height: 30px;
}


/* Skillset Section */

.skills-wrapper {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding: 24px;

    border: solid red 3px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 120px;

    border: solid blue 3px;
}

.skills {
    max-width: 200px;
    text-align: center;
}

/* Journey Section */

.journey-wrapper {
    background-color: purple;
    display: flex;
    justify-content: center;
    padding: 24px;

    border: solid red 3px;
}

.journey-container {
    display: flex;
    justify-content: center;
    gap: 120px;

    border: solid blue 3px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info img {
    border-radius: 100px;
}

/* Footer */

.footer-wrapper {
    background-color: firebrick;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 100px;

    border: solid blue 3px;
}

.footer-container {
   display: flex;
   gap: 32px;
}

.vial-container img  {
    width: 50px;
    height: 50px;

    border: solid blue 3px;
}

.vial-container {
    display: flex;
    justify-content: center;
}

.vial-text  {
    position: absolute;
    
}




/* Types of Text */
.image-text {
    
} /* Places text over image*/

.headline {

} /* Should put underline below hx title */

.tagline {
    text-align: center;
} /* Places text as tagline of image */

.h1 {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  /* Problematic naming? */

.quote {
    color: red;
} /* Make slowly appear, or mumble like animal crossing */

.potion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Item Rarity */
.common {
    color: wheat;
}

.uncommon {
    color: forestgreen;
}

.rare {
    color: mediumblue;
}

.epic {
    color: indigo;
}

.legendary {
    color: darkorange;
}

/* Effects: could have animations or just colors to signify */



/* Image Properties */
